.header{
    background: linear-gradient(rgba(43,124,255,0.8), rgba(43,124,255,0.8)), url('./capitol-bg.png');
    background-position: center;
    background-size: cover;
    margin-bottom: 0;
    height: 130px;
    width: 100%;
    padding: auto;
}